.habit-overview {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  padding: 0.5em 1em;
  background-color: transparent;
  box-shadow: var(--drop-shadow-value);
  min-width: min-content;
  width: 90%;
  max-width: 700px;
  margin: 50px auto;
}

.habit-overview:active {
  transform: scale(0.98);
}
.habit-overview:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 2px 4px #708090;
  outline: 2px solid transparent;
  outline-offset: 10px;
}

.logo-img-container {
}

.logo-img {
  border-radius: 10px;
}
