.habit-overview{
  display: flex;
  align-items: center;
  border: 2px solid #000;
  border-radius: 16px;
  padding: .5em 1em;
  background-color: transparent;
  box-shadow: var(--drop-shadow-value);
  min-width: min-content;
  width: 90%;
  max-width: 700px;
  margin: 50px auto;
}

.habit-overview:active{
  transform: scale(.98);
}

.logo-img-container{

}

.logo-img{
  border-radius: 10px;
}