* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --empty-day-dot-color: #dfdfdf;
  --filled-day-dot-color: #71ce28;
  --header-bg-gradient: radial-gradient(
    32.43% 193.19% at 51.84% 48.81%,
    #11a024 0%,
    #2a8333 100%
  );
  --header-font-color: #fff;
  --drop-shadow-value: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  --warning-color: #d95204;
  --update-btn-bg-color: #f2cb05;
  --delete-btn-bg-color: #d95204;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
  height: auto;
}
